<p>Welcome <%= @user.username %>!</p>

<p> Thank you for singing up for Tokeny! </p>
<p>Your registration code is <%= @user.reg_token %></p>
<p> Please login with your registered username and password and enter your code when promted. </p>
