<p>Hello there <%= @user.username %>!</p>

<p> Sorry to drop in on your like this but we seemed to have had an error!  </p>
<p> Please Take a look below! </p>

<p>Error: <%= @error %></p>

<p> We are sorry about this! Please contact us for more information! </p>
<p> -Tokeny Team </p>
