<p>Hello there <%= @user.username %>!</p>

<p> Your recent purchase went through! </p>
<p>Your purchase game purchase of <%=@game_name%> for <%= @total %> tokens was completed.</p>
<p>Here is your game code:</p>
<p><%=@code%></p>

<p> Thank you <p>
<p> -Tokeny Team </p>
