<p>Hello there <%= @user.username %>!</p>

<p> Your recent purchase went through! </p>
<p>Your purchase of <%= @amount %> tokens, for <%= @total %> was paid for and added to your account!</p>

<p> Thank you <p>
<p> -Tokeny Team </p>
