<p>Welcome <%= @email %>!</p>

<p> Thank you for singing up for Tokeny! </p>
<p>Your registration code is <%= @reg_token %></p>
<p> Please login with your registered details and enter your code when promted. </p>
